p,
h5 {
  font-family: 'neue-haas-grotesk-display', sans-serif;
}

/*Navbar Section*/

.navbar-nav {
  font-size: 20px;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  letter-spacing: 2.2px;
}

.bg-light {
  background-color: #fff !important;
}

/*Row Styling*/

#about-section,
#service-row,
#front-leadership,
#portfolio-section {
  background-color: #e9ecef !important;
}

.list-group-item {
  background-color: transparent;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 18px;
  letter-spacing: 0.23px;
  line-height: 28px;
  color: #868686;
}

/*Font Header Styling*/

.front-services-header,
.front-about-header,
.front-leadership-header,
.front-contact-header,
.about-header,
.service-header,
.portfolio-header,
#carousel-caption h2,
.grid-format-header {
  font-size: 56px;
  color: #363636;
  font-family: 'miller-banner', serif;
  font-weight: 700;
  line-height: 64px;
}

.horizontal-1 {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #DE4D3B;
  width: 10%;
  display: inline-block;
}

.horizontal-2 {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #DE4D3B;
  width: 10%;
}

.horizontal-3 {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #fff;
  width: 10%;
  margin-left: 20px; 
}

/*Font Styling*/

#front-prg {
  line-height: 34px;
  font-size: 24px;
}

#front-prg,
#about-lead {
  color: #555;
  font-family: "Neue Haas Grotesk Text Pro";
  font-weight: 500;
}

#about-section #about-prg {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 18px;
  color: #868686;
  letter-spacing: 0.23px;
  line-height: 28px;
}

#front-prg-2 {
  color: #868686;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
}

.front-serv-p,
.front-ldr-p {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 18px;
  letter-spacing: 0.23px;
  color: #868686;
}

/*Glyphs*/

#consuleng {
  height: 89px; 
  width: 80px;
}

#sustain {
  height: 81px; 
  width: 81px;
}
#genconstr {
  height: 70px; 
  width: 69px;
}

.genconstr {
  padding-bottom: 39px;
}

#constrmgmt {
  height: 90px; 
  width: 66px;
  margin-top: -10px;
}

#front-services h5 {
  font-family: "Neue Haas Grotesk Text Pro";
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}

#grid-a .grid-a1 {
  width: 254px; 
}

#grid-a .grid-a2 {
  width: 260px; 
}

#grid-a .grid-a3,
#grid-a .grid-a4 {
  width: 266px;
}

#grid-a p {
  color: #868686; 
  font-family: "Neue Haas Grotesk Text Pro";  
  font-size: 16px;
}


/*Card Section*/

.card-body {
  border-radius: 2px;
  height: 403px;
}

.card-body h5 {
  font-size: 16px;
  font-family: "Neue Haas Grotesk Text Pro";
  font-weight: 700;
  line-height: 28px;
}

.card-body h6 {
  font-size: 16px;
  margin-top: -10px;
  font-family: "Neue Haas Grotesk Text Pro";
  color: #868686;
}

.card-body p,
.card-body a  {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 14px;
  color: #868686; 
}

.card-img-top {
  height: 123px;
  width: 123px;
  border-radius: 50% 50% 50% 50%;
}

#card:hover,
#card-button:hover {
  background-color: #DE4D3B;
  color: #fff;
  border-radius: 2px; 
}

.card-body:hover p,
.card-body:hover h6,
.card-body:hover a {
  color: #fff;
}

/*Carousel Section*/

.main-text {
    position: absolute;
    top: 250px;
    width: 96.66666666666666%;
    color: #FFF;
}

#carousel-caption {
  background: rgba(222,77,59,.8);
  margin-bottom: 72px;
  width: 476px;
}

#carousel-caption h2 {
  padding: 12px 12px 3px 12px;
}

#carousel-caption p {
  font-family: "Neue Haas Grotesk Text Pro";
  padding: 3px 12px 6px 12px;
}

#carousel-caption #car-button {
  padding: 6px 12px 12px 12px;  
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3.125em;
  height: 3.125em;
}

.carousel-indicators {
  text-align: right;
  float: right;
  right: 2% !important;
  left: inherit;
}

.carousel-indicators li {
  background-color: #fff;
}

.carousel-indicators .active {
  background-color: #DE4D3B;
}

#caption-1a {
  font-family: 'neue-haas-grotesk-display', sans-serif;  
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  font-weight: 600;
  letter-spacing: -0.2px;
  font-size: 87px;
}

.fourth-title {
  font-family: 'miller-banner', serif;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  letter-spacing: -0.2px;
  font-size: 87px;
}

#header-prg {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 24px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.9); 
}

/*@media only screen and (min-width: 834px) and (max-width: 1112px) {
  #caption-1a,
  .fourth-title {
    font-size: 2rem;
    letter-spacing: -0.2px;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  }

  #header-prg {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;     
  }
}*/

/*Service Page*/

#service-row-1 h2,
#service-row-2 h2,
#service-row-3 h2,
#service-row-4 h2 {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 38px;
  line-height: 44px;
  color: #363636;
}

.service-font-1,
.service-font-3,
.service-font-4 {
  font-family: "Neue Haas Grotesk Text Pro";
  color: #868686;
  font-size: 16px;
  line-height: 28px;
}

p#service-prg {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 24px;
  color: #555555;
}

/*Portfolio Page*/
.portfolio-prg {
  font-family: "Neue Haas Grotesk Text Pro";
  color: #555555;
  font-size: 24px;
  line-height: 34px;
}

.card-deck img {
  margin-left: auto;
  margin-right: auto;
}

#port-4grid-1,
#port-6grid-1,
#port-6grid-3 {
  background-image: url("../img/project-image-1a.png");
}

#port-4grid-2,
#port-6grid-2 {
  background-image: url("../img/project-image-2a.png");
}

#port-4grid-3,
#port-6grid-4,
#port-6grid-6 {
  background-image: url("../img/project-image-3.png");
}

#port-4grid-4,
#port-6grid-5 {
  background-image: url("../img/project-image-4.png");
}

#port-4grid-1,
#port-4grid-2,
#port-4grid-3,
#port-4grid-4,
#port-6grid-1,
#port-6grid-2,
#port-6grid-3,
#port-6grid-4,
#port-6grid-5
#port-6grid-6 {
  background-color: #222;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}


/*.gallery-image-1 {
  height: 22.5rem;
  width: 22.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.gallery-image-2 {
  height: 22.5rem;
  width: 22.5rem;
  height: 100%;
  width: 100%;
}*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(192,55,43,.7);
}

#gallery-image-1:hover .overlay,
#gallery-image-2:hover .overlay,
#gallery-image-3:hover .overlay,
#gallery-image-4:hover .overlay  {
  opacity: 1;
}

.text-1,
.text-2 {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.text-1 {
  top: 45%;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 24px;
  line-height: 34px;
}

.text-2 {
  top: 55%;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
  line-height: 28px;
}


/*Button Stylings*/
.btn {
  border-radius: 0px;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  font-size: 14px; 
  width: 169px;
  letter-spacing: 2px;
}

.btn-danger {
  background-color: #DE4D3B;
  border-color: #DE4D3B;
}

.btn-danger:hover {
  background-color: #FF4500;
  border-color: #FF4500;
}

#submit {
  width: 361px;
}

/*Contact Section*/

.addr-1,
.addr-2 {
  font-size: 16px;
  color: #868686;
}

.addr-2 {
  margin-left: 25px; 
}

#contact-prg h5 {
  color: #555555;
}

#contact-prg p {
  color: #868686;
  font-size: 16px;
  font-family: "Neue Haas Grotesk Text Pro";
  line-height: 21px;
}

/*Footer Section*/

#footer {
  font-family: 'neue-haas-grotesk-display', sans-serif; 
  font-size: 14px;
  background-color: #363636;
  letter-spacing: 1.37px;
}

#footer h6 {
  color: #EAEAEA; 
  font-family: 'Ubuntu';  
  font-size: 14px;
}

#footer ul li {
  text-transform: uppercase;
}

#footer ul li a {
  color: #eaeaea;
}


#front-about,
#front-leadership,
#about-section,
#service-row,
#portfolio-section {
  background-image: url('../img/logo mark.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 582px 874px;
  z-index: -2;
}

#checkmark {
  color: #C0372B;
} 

#about-img {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

/*Modal */

.modal-header {
  border-bottom: none !important;
}

.modal-body h3 {
  font-family: "Neue Haas Grotesk Text Pro";
  color: #555555;
  font-size: 24px;
  line-height: 34px;
}

.modal-body p {
  color: #868686;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
  line-height: 28px;
}

.modal-img-1 {
  background-image: url('../img/about-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: relative;
  z-index: 1;
}

.modal-img-2 {
  background-image: url('../img/about-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  position: relative;
  z-index: 1;
}

.close {
  position: fixed;
  top: 200px;
  right: 300px;
  height: 20px;
  color: #fff;
}

.close:hover {
  color: #fff;
}

#exampleModalScrollable1,
#exampleModalScrollable2 {
  background-color: rgba(44,44,44,0.99);
}

.modal-lg {
  margin-top: -75px;
}


/*Shapes*/

#rectangle-1 {
  position: relative;
  height: 224px;  
  width: 36px;  
  background-color: #DE4D3B;
  top: 297px;
  right: 29px;
}

#rectangle-2 {
  position: absolute;
  height: 201px;  
  width: 36px;  
  background-color: #DE4D3B;
  top: -17px;
  left: 460px;
}

#rectangle-3 {
  position: absolute;
  transform: rotate(90deg); /* Equal to rotateZ(90deg) */
  height: 201px;  
  width: 36px;  
  background-color: #DE4D3B;
  top: -100px;
  left: 360px;
}

#rectangle-4 {
  position: inherit;
  background-color: #fff;
  height: 380px;
  width: 848px;
  margin-bottom: -420px;
  margin-left: 280px;
}

#rectangle-5 {
  position: absolute;
  width: 25px;
  height: 160px;  
  background-color: #DE4D3B;
  top: 0px;
  left: 555px;
}

#rectangle-6 {
  position: inherit;
  background-color: #fff;
  height: 350px;
  width: 848px;
  margin-bottom: -400px;
  margin-left: 280px;
}

#rectangle-7 {
  position: absolute;
  width: 25px;
  height: 150px;
  background-color: #DE4D3B;
  top: 250px;
  left: 540px;
}

#rectangle-8 {
  position: inherit;
  background-color: #fff;
  height: 400px;
  width: 848px;
  margin-bottom: -420px;
  margin-right: 280px;
}

#rectangle-9 {
  position: absolute;
  width: 25px;
  height: 150px;
  background-color: #DE4D3B;
  top: 208px;
  left: 540px;
}

#rectangle-10 {
  position: absolute;
  width: 25px;
  height: 150px;
  background-color: #DE4D3B;
  bottom: 76px;
  right: 545px;
  }

#rectangle-11 {
  position: absolute;
  width: 25px;
  height: 150px;
  background-color: #DE4D3B;
  bottom: 100px;
  right: 545px;
}

#baguetteBox-figcaption-0 > h5,
#baguetteBox-figcaption-1 > h5,
#baguetteBox-figcaption-2 > h5,
#baguetteBox-figcaption-3 > h5,
#baguetteBox-figcaption-4 > h5,
#baguetteBox-figcaption-5 > h5 {
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}

#baguetteBox-figcaption-0 > a:nth-child(3) > p:nth-child(1),
#baguetteBox-figcaption-1 > a:nth-child(3) > p:nth-child(1),
#baguetteBox-figcaption-2 > a:nth-child(3) > p:nth-child(1),
#baguetteBox-figcaption-3 > a:nth-child(3) > p:nth-child(1),
#baguetteBox-figcaption-4 > a:nth-child(3) > p:nth-child(1),
#baguetteBox-figcaption-5 > a:nth-child(3) > p:nth-child(1) {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
  line-height: 28px;
}


/*Project-4 Stylings*/

#proj-4h h4 {
  color: #555555;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 24px;
  line-height: 34px;
}

#proj-4h h6 {
  color: #868686;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 18px;
  letter-spacing: 0.23px;
  line-height: 28px;
}

.proj-4p {
  color: #868686;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 16px;
  line-height: 28px;
}

.fa-chevron-left {
  padding-right: 20px;
}

.fa-chevron-right {
  padding-left: 20px;
}

#proj-nav h6 {
  color: #555555;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 14px;
  letter-spacing: 0.9px;

}


/*Media Queries*/

@media only screen and (min-width: 1337px) {
  #about-section p {
    padding-left: 300px;
    padding-right: 300px;
  }
  
  #about-section .about-header {
    padding-left: 250px;
  }
 
  #about-section .horizontal-1 {
     margin-left: 250px; 
  }
  
}

@media only screen and (min-width: 359px) and (max-width: 1112px) {
    #about-section p,
    #about-section .about-header,
    #service-row .service-header,
    #about-section .horizontal-1,
    #service-row .horizontal-1,
    #service-prg,
    .portfolio-header,
    .portfolio-prg {
      margin-left: auto;
      margin-right: auto;
    }

    #main-text h1 {
      font-size: 2rem;
    }
    
    #rectangle-1,
    #rectangle-2,
    #rectangle-3,
    #rectangle-4,
    #rectangle-5,
    #rectangle-6,
    #rectangle-7,
    #rectangle-8,
    #rectangle-9,
    #rectangle-10 {
      display: none !important;
    }
} 

@media only screen and (min-width: 1113px) {

    #service-row .service-header {
      padding-left: 250px;
    }

    #service-row .horizontal-1 {
      margin-left: 250px;
    }

    #service-prg {
      margin-left: 320px;
      margin-right: 320px;
    }
}


@media only screen and (min-width: 992px) {
  
    /*Grid Images*/

    .about-image,
    .service-image {
      width: 99vw;
      height: 40vh;
    }

@media only screen and (max-width: 991.98px) {
    #grid-a .grid-a1,
    #grid-a .grid-a2,
    #grid-a .grid-a3,
    #grid-a .grid-a4 {
      width: auto;
    }
}

@media only screen and (min-width: 577px) {
    .modal-dialog-scrollable {
        max-height: calc(70% - 3.5rem) !important;
    }
}


/*Lightbox Code*/
